<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>

<h1>Members page</h1>

<form action="" method="POST" class="members_form" >

    {% csrf_token %}
    {{ reg_members_form.as_p }}

      <input type="submit" name="mem" value="RegisterMember">

</form>

{% if submit_members == "RegisterMember" %}


        {{ name }}
        {{ age }}
        {{ phone }}
        {{ city }}
        {{ country }}


{% endif %}

</body>
</html>